@import '../../../scss/mixins';

.main-navbar {
  background-color: #F6F8FB;
  color: #fff;

  .barlink {
    position: absolute;
    left: 264px;

    &.active {
      left: 60px;
    }
  }

  .nav-link-user {
    >img {
      width: 40px;
      height: 40px;
    }
  }
}

.reach_btn {
  border-radius: 22px;
  border: 1px solid #187dab;
  padding: 6px 15px !important;
  text-align: center;
}

.languageDropdown {
  color: #187dab;


  >a {
    text-transform: capitalize;
  }
}

a.nav-link {
  color: #187dab;
}

i.fa.fa-search {
  position: relative;
  color: #CACCCF;
  left: 18.5rem;
  top: 7px;
  font-size: 13px;
}

.frontlogo {
  max-width: 224px;
  height: 64px;
  object-fit: contain;
  object-position: center left;
}

// .frontlogo {
//   width: 121px;
// }

.notification {
  color: #CACCCF;
  font-size: 27px;
  transform: rotate(29deg);
  margin-right: 22px;
  margin-top: 16px;
}

.reddot {
  background-color: red;
  padding: 2px 5px;
  border-radius: 14px;
  color: #ffff;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -13px;
  right: -2px;
  border: 3px solid #ffff;
  transform: rotate(333deg);
}

.Searchbar {
  background: #FFFFFF;
  border-radius: 100px;
  border: none;
  padding: 10px 50px;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-size: 13px;
}

a.nav-link.mr-2 {
  text-transform: capitalize;
}

nav.navbar.navbar-expand-lg.main-navbar.hederstyle {
  background: #fff;
  font-weight: 500;
  font-size: 15px;
  color: #197d9f;
}

.languageDropdown {
  color: #187dab;
  border: 1px solid #eeeeee;
  border-radius: 18px;
}

.login_menu {
  border: 1px solid #e8e8e8;
  border-radius: 24px;
  padding: 0px 8px;
}

.dropdown-menu.show.languagedrop {
  left: initial;
  right: 0;
}

.nav-item.immediatemenu {
  border: 1px solid #E8E8E8;
  border-radius: 40px;
}

.hederstyle {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: #ffff;
}


i.fa.fa-list.listicon {
  color: #2785a4;
}

.min-sidebar {
  ~div>.main-sidebar {
    width: 58px;
    min-width: 58px;

    .sidebar-brand {
      width: 0;
      visibility: hidden;
    }

    .nav-link span {
      display: none;
    }
  }

  ~div>main.main {
    width: calc(100% - 58px);
  }
}

@media screen and (min-width: 280px) and (max-width: 991px) {

  .menucomoncls {
    width: 100%;
    text-align: center;
  }


}