.aboutusimg {
    max-height: 464px;
    object-fit: cover;
}

.abouthedding {
    font-weight: 600;
    color: #197d9f;
    font-size: 30px;
}

.abouthedding {
    font-weight: 600;
    color: #197d9f;
    font-size: 81px;
    position: absolute;
    left: -190px;
    top: 0;
}

span.aboclass {
    color: #fff;
}