input#fname {
    border: none;
    background: #F6F6F6;
}

.text-initial {
    text-transform: initial;
}

.mainarea {
    background: #fff;
    padding: 7px;
}

.dropdown-menu.adddropbtn.show {
    left: initial !important;
    right: 0;
}

.cancelbtn {
    border: 1px solid #197D9F;
    color: #197D9F;
    border-radius: 100px;
    padding: 13px 6rem;
    background: #fff;
}

.Profilehedding.ml-3 {
    font-size: 18px;
}

i.fa.fa-arrow-left.mr-4.mb-3 {
    color: #000;
    font-size: 20px;
}



textarea#textarea.txarescls {
    border: none;
    background: #F6F6F6;
    height: 300px;
}

.sidefont {
    font-size: 12px;
}


.buttonclass {
    border-radius: 30px;
    width: 150px;
}

.buttonSave {
    border-radius: 30px;
    width: 150px;
    background: gray;
}

.buttonSave {
    border-radius: 30px;
    width: 150px;


}

.rightfont {
    font-weight: 700;
    font-size: 14px;
}

.modal-header.header {
    border: none;
}

.modal-footer.footer {
    border: none;
}

.sideclass {
    background: #D7F5FF;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 38px 25px;
}

.Profilehedding {
    font-size: 20px;
    font-weight: 600;
}

// .profiledetailscls {
//     font-size: 14px;
//     font-weight: 600;
//     color: #197D9F;
// }


.emailclss {
    font-size: 13px;
    font-weight: 600;
    color: #197D9F;
}

.profileheddingcls {
    font-size: 15px;
    color: #000000a3;
}

.bgtable {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 15px 0px;
    overflow: auto;
}

.savebtn {
    background: #ACACAC;
    color: #fff;
    border-radius: 100px;
    border: none;
    padding: 1rem 6rem;

}

.addbtn {
    border-radius: 21px;
}


.sideclass {
    padding: 0px 16px !important;
}

.outlinebtn {
    border-radius: 21px !important;
    border: 1px solid #197d9f !important;
    background: #fff;
    color: #197d9f;
    padding: 9px 28px;
}

.poupheding {
    font-weight: 700;
    color: #000000d9;
    background: #2785a53b;
    padding: 5px 0px;


}

.modal-title.mainhead {
    font-weight: 700;
    color: #197D9F;
}

.semiheding {
    font-weight: 500;
}

.sideclass p {
    margin-bottom: 0;
    word-break: break-word;
}




// new style
input#fname {
    border: none;
    background: #F6F6F6;
}

.material-symbols-outlined {
    font-size: inherit;
}

.mainarea {
    background: #fff;
    padding: 27px;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #197D9F !important;
    border-color: #197D9F;
}

textarea#textarea.txarescls {
    border: none;
    background: #F6F6F6;
    height: 300px;
}

.pluseadd {
    color: #197d9f;
    font-size: 13px;
}

.textcls {
    font-size: 13px;
}

.outlinebtn {
    border-radius: 21px !important;
    border: 1px solid #197d9f !important;
    background: #fff;
    color: #197d9f;
    padding: 9px 28px;
    font-weight: 700;
}

.status.status-blue {
    background-color: #D7F5FF;
    color: #197D9F;
}

.status {
    display: inline-block;
    padding: 4px 11px;
    border-radius: 4px;
    font-weight: 400;
    background-color: #e4e4e4;
}

.Profilehedding.mt-3 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.emailclss {
    font-size: 13px;
    font-weight: 600;
    color: #0a5d79;
    word-break: break-all;
}

.profiledetailscls {
    font-weight: 600;
    color: #245B65;
    font-size: 14px;
}

.profileheddingcls {
    font-size: 15px;
    color: #000000a3;
}

.View_Case {
    font-weight: 700;
}

.profileresulhead {
    font-size: 17px;
    font-weight: 700;
    color: #245B65;
}


.span_high_class.high_risk {
    color: #BA0036 !important;
    background: #F9E4E9 !important;
}

.high_risk {
    display: inline-block;
    padding: 4px 11px !important;
    border-radius: 4px !important;
    font-weight: 600 !important;
}

.span_low_risk.span_low_risk {
    background: #D8FFFE;
    color: #22A59E;
}

.high_risk.span_Moderate_risk {
    color: #8D751A;
    background: #FFF7D7;
}





a.text-primary.view_Case {
    font-weight: 700;
}

.cancelbtn {
    border: 1px solid #197D9F;
    color: #197D9F;
    border-radius: 100px;
    padding: 13px 6rem;
    background: #fff;
}

.sidefont {
    font-size: 14px;
    font-weight: 500;
}

.rightfont {
    font-size: 14px;
}

.savebtn {
    background: #ACACAC;
    color: #fff;
    border-radius: 100px;
    border: none;
    padding: 1rem 6rem;

}

.buttonclass {
    border-radius: 30px;
    width: 150px;
}

.buttonSave {
    border-radius: 30px;
    width: 150px;
    background: gray;
}

.addbtn {
    border-radius: 21px;
}


.sideclass {

    padding: 0px 15px !important;
}

// end



.risponsiveclss {
    display: none;
}

@media(max-width: 991px) {

    .sideclass,
    .sideclass+.col-md-8 {
        flex: 0 100%;
        max-width: 100%;
    }

    .sideclass {
        padding: 1rem;
    }
}


@media screen and (min-width: 290px) and (max-width: 990px) {
    .risponsiveclss {
        display: block;
    }


    .ondesktop {
        display: none;
    }
}