.sendclss {
    color: #fff !important;
}


i.fa.fa-arrow-left {
    color: #000;
}

.login-wrapper .mainfromclss {
    max-width: 900px;
    margin: 0px auto;
}

form.p-5.rounded.shadow {
    height: 100%;
}

@media screen and (min-width: 280px) and (max-width: 748px) {
    // img.loginimg {
    //     display: none;
    // }
}