.appointmenthedding.ml-3 {
    font-size: 20px;
}
.sloteDelete {
    cursor: pointer;
}

@media screen and (min-width: 280px) and (max-width: 540px) {

    .d-flex.justify-content-between.mb-3.appointmentadd {
        flex-wrap: wrap;
    }

}