.aboutusimg {
    max-height: 464px;
    object-fit: cover;
}

.abouthedding {
    font-weight: 600;
    color: #197d9f;
    font-size: 30px;
}


.aboutuspaira {
    font-weight: 400;
    font-size: 18px;
}

.aboutuspaira {
    color: #4A4A4A;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.aboutuspaira2 {
    font-weight: 400;
    font-size: 18px;
}

.aboutheddingcls.mt-4 {
    font-size: 30px;
    font-weight: 600;
    color: #197d9f;
}

span.aboclass {
    color: #fff;
}